.container {
  position: relative;
}

.cardContainer {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  padding: 24px;
  @media (max-width: 600px) {
    position: static;
   
  transform: translateX(0);
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
